.macaco{
    margin-top: 150px;
}
.p-5{
    color:black;
}
.rtrnBtn{
    border-radius: 20px;
    background-color: orangered;
}
#maisUm,#menosUm{
    border: 1px solid rgb(69, 68, 68);
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin: 4px;
}
#maisUm{
    background-color: rgb(32, 231, 32);
}
#menosUm{
    background-color: rgb(255, 45, 45);
}
#form1{
    width: 40px;
    border:1px solid rgb(37, 36, 36);
}
.foot{
    margin-top: 540px;
}
body{
    background-image: linear-gradient(#e3762b, white);
}

